.slide-ads {
  position: relative;
  margin-top: 24px;
  padding-bottom: 20px;

  .swiper-ads {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }

  .swiper-pagination {
    bottom: 0px !important;
  }

  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background: #343434 !important;
    opacity: 1 !important;

    @media (max-width: 767px) {
      width: 20px !important;
    }
  }

  .swiper-pagination-bullet-active {
    background: linear-gradient(
      180.03deg,
      #8b6832 0.02%,
      #fcdd9a 99.98%
    ) !important;
  }

  .swiper-slide-active {
    .item-news-bg {
      scale: 1.1;

      @media (max-width: 767px) {
        scale: 1;
      }

      .detail {
        .title {
          font-size: 36px;
          line-height: 36px;

          @media (max-width: 767px) {
            font-size: 28px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
