.slide-ads {
  position: relative;
  margin-top: 24px;
  padding-bottom: 20px;

  .swiper-ads {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }

  .swiper-pagination {
    bottom: 0px !important;
  }

  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background: #343434 !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: linear-gradient(
      180.03deg,
      #8b6832 0.02%,
      #fcdd9a 99.98%
    ) !important;
  }
}
